.menu {
  font-size: 20px;
  font-family: sans-serif;
  background-color:#E3CAEF ;
  border-width: 10px;
  border-color: white;
  border-style: solid;
}
.bordamenu{
  border-width: 10px;
  border-color: white;
  border-style: solid;
  background-color: #E5D1EF;
  font-size: 20px;
  font-family: sans-serif;
  background-color:#E3CAEF ;
  border-width: 10px;
  border-color: white;
  border-style: solid;
}